/*This CSS will override everything, including Bootstrap*/

body {
	background: wheat;
}
h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	color: black;
}

/*to make a portion of the h1 header smaller*/
#smaller-font {
	font-size: 45px;
}

/*to undo default border-bottom and margin-top styling for .page-header
in Bootstrap*/
.page-header {
	border-bottom: 0 black;
	margin-top: 0;
}

h3 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: black;
}


p {
	text-align: center;
	font-size: 16px;
	color: black;
	font-weight: bold;
}

.footer {
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 20px;
	padding-top: 5px;
	background-color: aliceblue
}

.footer p {
	font-size: 12px;
}
